<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="/normalize.css" rel="stylesheet" >
    <link href="/skeleton.css" rel="stylesheet" >
    <title>Mother of All Budgets</title>
</head>
<body>
   <h1> Mother of All Budgets</h1>
    <div class="container">
        <table> 
            <% for(let i =0; i <Budget.length; i++) { %>
            <tr><td><%= Budget[i].date%></td>
                <td><a href="/budgets/<%=i%>"><%= Budget[i].name%></a></td>
                <td><%= Budget[i].amount%></td></tr>  
            <% } %>
        </table>

    </div>
    
</body>
</html>





