<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>New Item</title>
    <link href="/normalize.css" rel="stylesheet" >
    <link href="/skeleton.css" rel="stylesheet" >
    
</head>
<body>
    <div class="container"></div>
    <h1> Add New Item</h1>

    <form action="/budgets" method="POST">
        <input type="text" name="date" placeholder="date">
        <input type="text" name="name" placeholder="name">
        <br>
        <input type="text" name="amount" placeholder="amount">
        <input type="text" name="from" placeholder="from">
        <br>
        <input type="submit" value="Create New Item">
    
    </form>
</body>
</html>